<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    GARCIA POR SU REGISTRO:
    <br><br>
    Numero de Folio: {{Folio}}
    <br><br>
    Nombre del paciente: {{Nombres}}
    <br><br>
    Apellidos del paciente: {{Apellidos}}
    <br><br>
    Numero de telefono: {{Telefono}}
    <br><br>
    Direccion: {{Direccion}}
    <br><br>
    Fecha de la cita: {{Fecha}}
    <br><br>
    Especialista: {{Menu}}
    <br><br>
    Correo registrado: {{Gmail}}
</body>
</html>