<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/quienessomos.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIENES SOMOS</title>
</head>
<body background="../static/images/qs.png">
    <div class ="head">
        <nav class = "navbar">
            <a href = "clinica.html">Inicio</a>
        </nav>
    </div>
    
    <h1>¿quienes somos?</h1>
    <p>Somos una organización hospilataria con el fin de ayudar a las personas que necesiten
        de nuestra atencion y lograr suplir las necesidades de nuestros clientes con las 
        herramientas necesarias.
    </p>
    <br><br><br>
    <img src="../static/images/qss.png" alt="">
</body>
</html>