<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/servicios.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICIOS</title>
</head>
<body>
    <div class ="head">    
        <nav class = "navbar">
            <a href = "clinica.html">Inicio</a>
        </nav>
    </div>
<br><br>
    <div class="box-container">
        <div class="box">
            <h1>Algo</h1>
        </div>
        <div class="box">
            <h1>Algo</h1>
        </div>
        <div class="box">
            <h1>Algo</h1>
        </div>
        <div class="box">
            <h1>Algo</h1>
        </div>
        <div class="box">
            <h1>ALgo</h1>
        </div>
        <div class="box">
            <h1>ALgo</h1>
        </div>
    </div>

</body>
</html>